
.edit-form-container {
	margin: 0 auto;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.edit-form-container input {
    height: 50px;
	width: 100%;
	border:solid 1px rgba(0,0,0,.1);
	position: relative;
}

.input_1{
	height: 50px;
	width: 100%;
	border:solid 1px rgba(0,0,0,.1);
	position: relative;
}
.input_1 input[type="text"]{
	height: 100%;
	width: 100%;
	border:0;
	padding: 0 20px;
	float: left;
	position: relative;
	background-color: transparent;
	z-index: 2;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color:#9a9a9a;
}

.input_1 span{
	position: absolute;
	top:50%;
	left: 20px;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color:#cdcdcd;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	z-index: 1;
}
.input_1 span.active,.textarea_1 span.active{
	color:#7beec7;
	font-size: 10px;
	top:0px;
	left: 5px;
	background-color: #fff;
	padding: 5px
}

.textarea_1{
	height: 400px;
	width: 100%;
	border:solid 1px rgba(0,0,0,.1);
    position: relative;
    
}
.textarea_1 textarea{
	height: 360px;
	width: 96%;
	border:0;
	padding: 20px;
	background-color: transparent;
	float: left;
	z-index: -1;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
    color:#9a9a9a;
    resize: none;
}

.edit-form-container .btn:last-child {
	margin-left: 100px;
}